article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}

body {
    font-family: Impact, Charcoal, sans-serif;
    background: url(../images/picjumbo.com_IMG_6648.jpg) no-repeat center fixed;
    background-size: cover;
}

header{
    background-color: #00241F;
    
}

h1 {
    text-align: center;
    color: #0073AB;
}

#API {
    width: 50%;
    margin: auto;
}

#mPage {
    color: antiquewhite;
    float: left;
    width: auto;
    height: auto;
    padding: 10px;
    border: 5px solid gray;
    margin: 1;
    background: url(../images/M5OXzA0.jpg) no-repeat center fixed;
}
    
#content {
    color: antiquewhite
}

#sType {
    text-align: center;
    color: antiquewhite;
    margin: 1;
    width: inherit;
    padding: 2px;
}
    

#displayOptions {
    width: inherit;
    color: antiquewhite;
    padding: 2px;
}


