article, aside, figure, figcaption, footer, header, nav, section {
    display: block;
}

body {
    background-color: black;
    background-image: url("Images/Stars.png");
    color: white;
}
#FilmSelect {
    float: left;
    font-size: 100%;
    color: yellow;
    text-align: center;
    margin-right: 4%;
    
}
#lblFilms {
    font-size: 200%;
}
#FilmSelections {
    clear: both;
    float:left;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 4%;
}

#filmPicture {
    float: left;
    margin-right: 2%;
}
#i {
    padding-top: 2%;
    margin-bottom: 2%;
}
#Characters {
    margin-bottom: 3%; 
}
.block {
    display: block;
}
#FilmSelect p {
    font-size: xx-large;
    margin-top: -1.5%;
}
p {
    font-size: xx-large; 
}
ul {
    list-style: none;
    
}
select {
    display: block;
}
#StarWarsPeopleInfo {
    display: inherit;
    width: 18%;
    float: right;
    margin-top: -9%;
    margin-right: 3%;
    
}

#StarWarsPlanetsInfo {
    float: left;
  
}

